* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    line-height: 1.5;
}

#header {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: hsl(204, 47%, 25%);
    color: #ccc;
    padding: 1rem;
}

.heading {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
}

.container {
    position: relative;
    width: 80%;
    margin: 200px auto;
}